
@{
    ViewBag.Title = "Create";
}
<h1>@ViewBag.Name</h1>
<h1>@ViewBag.Id</h1>
@*@Html.ValidationSummary()*@

<h2>Create</h2>
<form method="post">
    <input type="text" value="@Model.Name" name="Name" class="form-control" placeholder="Name" />
    <span class="text-danger">@Html.ValidationMessage("Name")</span><br />
    <input type="text" value="@Model.Email" name="Email" class="form-control" placeholder="Email" />
    <span class="text-danger">@Html.ValidationMessage("Email")</span><br />
    <input type="text" value="@Model.Phone" name="Phone" class="form-control" placeholder="Phone" />
    <span class="text-danger">@Html.ValidationMessage("Phone")</span><br />
    <input type="text" value="@Model.Id" name="Id" class="form-control" placeholder="Id" />
    <span class="text-danger">@Html.ValidationMessage("Id")</span><br />
    <input type="submit" value="Create" class="btn btn-success" />
</form>

