
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
@if (TempData["Msg"] != null) { 
    <span class="alert alert-info">@TempData["Msg"]</span>
}
<table class="table table-bordered">
    <tr>
        <th>Degree</th>
        <th>Institute</th>
        <th>Result</th>
        <th>Year</th>
    </tr>
    @for (int i=0;i<3;i++)
    {
        <tr>
            <td>@ViewBag.Degrees[i].Title</td>
            <td>@ViewBag.Degrees[i].Ins</td>
            <td>@ViewBag.Degrees[i].Result</td>
            <td>@ViewBag.Degrees[i].Year</td>
        </tr>

    }

</table>

